<div class="container">
  <nav class="navbar">
    <div class="nav">
      <h1>
        <a routerLink="">Kwix.<span>live</span></a>
      </h1>
      <ul class="nav-list">
        <li routerLink="">Home</li>
        <li routerLink="features">Features</li>
        <li routerLink="support">Support</li>
        <li routerLink="what-we-do">What we do</li>
        <li routerLink="us">Who we are</li>
      </ul>
      <a routerLink="/user-auth" class="login-btn">Sign In / Login</a>
    </div>
  </nav>
</div>
