<div class="hero-section">
  <div class="hero-content">
    <h1>Elevate your <span class="highlight">online presence</span></h1>
    <p>
      with our all-in-one solution: <br />
      a sleek link-in-bio tool, intuitive cloud CRM and CMS <br />
      apps, NFC cards, and smart event features.
    </p>
  </div>
</div>

<div class="centered-section">
  <h1>The professional way to connect</h1>
</div>

<div class="connection-section">
  <div class="content-left">
    <p>
      Not just for in-person meetings, but also for online networking and
      virtual events.
    </p>
    <p>Compatible with all modern smartphones, Apple and Android.</p>
    <p><a href="#" class="demo-link">Click Here For Demo</a></p>
  </div>
  <div class="content-right">
    <img
      src="assets/images/home-card.png"
      alt="Business Card"
      class="business-card"
    />
  </div>
</div>

<!-- <div class="typing-animate">
    <span class="static-text">We provide </span>
    <span class="dynamic-text">{{ displayedText }}</span>
  </div> -->
