<div class="container">
  <h1>Services</h1>
  <nav class="service-navbar">
    <div class="service-nav">
      <ul class="service-nav-list">
        <li (click)="showContent('linkInBio')">Link in Bio</li>
        <li (click)="showContent('businessCard')">Business Card</li>
        <li (click)="showContent('cloudbaseCRM')">Cloudbase CRM</li>
        <li (click)="showContent('cloudbaseCMS')">Cloudbase CMS</li>
      </ul>
    </div>
  </nav>

  <div *ngIf="activeSection === 'linkInBio'" class="additional-content">
    <h2>Link in Bio will looks like below:</h2>
    <!-- <p>This is the content for Link in Bio.</p> -->
    <div class="link-in-bio">
      <div class="image-left">
        <h2>For Mobiles:</h2>
        <img src="assets/images/Link-in-bio.png" alt="Link in Bio image" />
      </div>
      <div class="image-right">
        <h2>For PCs:</h2>
        <img src="assets/images/Link-in-bio-2.png" alt="Link in Bio image" />
      </div>
    </div>
  </div>
  <div *ngIf="activeSection === 'businessCard'" class="additional-content">
    <h2>Business Card Details</h2>
    <!-- <p>This is the content for Business Card.</p> -->
    <div class="business-card">
      <div class="image-left">
        <h2>For Mobiles:</h2>
        <img src="assets/images/business-card-2.png" alt="Link in Bio image" />
      </div>
      <div class="image-right">
        <h2>For PCs:</h2>
        <img src="assets/images/business-card-1.png" alt="Link in Bio image" />
      </div>
    </div>
  </div>
  <div *ngIf="activeSection === 'cloudbaseCRM'" class="additional-content">
    <h2>Cloudbase CRM Details</h2>
    <p>This is the content for Cloudbase CRM.</p>
  </div>
  <div *ngIf="activeSection === 'cloudbaseCMS'" class="additional-content">
    <h2>Cloudbase CMS Details</h2>
    <p>This is the content for Cloudbase CMS.</p>
  </div>
</div>
