<div class="container">
  <div class="heading">
    <h1>We are <span>Kwickers</span>.</h1>
  </div>

  <div class="info-paragraph">
    <p>
      <span>L</span>orem ipsum dolor sit amet consectetur adipisicing elit.
      <br />Possimus accusantium architecto eligendi modi ullam <br />pariatur
      tempora vel beatae ut, ducimus, minima nisi <br />ratione voluptatum
      magnam! Nihil, dolorum <br />tempora ipsam veritatis, doloribus corrupti
      delectus<br />
      eius facilis cumque, maxime error maiores quas <br />nemo quibusdam totam!
      Provident amet, velit molestias <br />molestiae nemo eaque.
    </p>
    <div class="side-image">
      <img
        src="https://www.imsts.com/sites/default/files/styles/image_1200x550/public/2018-06/blog-ims-technology-services-near-field-communication-1.jpg?itok=VYXYyT0K"
      />
    </div>
  </div>

  <div class="team-info">
    <h1>Know about <span>Team</span></h1>

    <div class="team-member member-left">
      <!-- <img src="../../../assets/images/dhruv-moradiya.jpg" alt="Team Member 1" /> -->
      <div class="member-info">
        <h2>Shubh Mangukiya <span>(Team Leader)</span></h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
          placeat nihil suscipit culpa at cum, maiores nam officia non deleniti
          rem atque. Neque nemo quos ea nostrum laboriosam iure delectus
          provident exercitationem optio! Odit quis minima a aspernatur enim
          accusantium voluptate necessitatibus, deleniti placeat, alias possimus
          nobis! Aperiam, voluptatem similique?
        </p>
      </div>
    </div>

    <div class="team-member member-right">
      <div class="member-info">
        <h2>Dhruv Moradiya</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima sed
          quia nemo molestias aliquid optio commodi non porro ut sapiente
          necessitatibus iste error amet excepturi accusantium, fuga incidunt
          omnis explicabo quam culpa doloremque tempore illo nostrum? Impedit,
          quis at. Reprehenderit minus eaque porro, quia impedit maxime odio
          quisquam quos quasi.
        </p>
      </div>
      <!-- <img src="../../../assets/images/dhruv-moradiya.jpg" alt="Team Member 2" /> -->
    </div>

    <div class="team-member member-left">
      <!-- <img src="../../../assets/images/dhruv-moradiya.jpg" alt="Team Member 3" /> -->
      <div class="member-info">
        <h2>Henil Kotadiya</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, nesciunt?
          Sunt ducimus veniam aperiam quas, voluptatum quasi! Ea fugiat nostrum
          reiciendis ex error, placeat et similique blanditiis aliquam excepturi
          debitis quo quae voluptate sapiente amet temporibus, est aliquid
          itaque facilis! Quaerat laboriosam suscipit sunt non voluptate,
          tempora similique quas blanditiis?
        </p>
      </div>
    </div>

    <div class="team-member member-right">
      <div class="member-info">
        <h2>Nil Bangoriya</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus
          quidem aliquam enim? Asperiores blanditiis natus maxime, aliquid eius
          quas repellat fuga maiores architecto numquam provident quidem hic
          quod recusandae illum id vero nulla, culpa, nemo ipsa veritatis
          tempora. Eveniet saepe, consectetur perferendis veritatis ullam
          quibusdam esse aliquid consequatur! Tenetur, cumque.
        </p>
      </div>
      <!-- <img src="../../../assets/images/dhruv-moradiya.jpg" alt="Team Member 4" /> -->
    </div>
  </div>
</div>
