/* .heading h1 {
    font-size: 40pxpx;

}

.heading h1 span{
    color: #FF4C4C;
    font-weight: 100;
    font-style: oblique;
    font-size: 55px;
}

.info-paragraph {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    ju
}

.info-paragraph p {
    font-size: 21px;
    margin-right: 10px;
}

.info-paragraph img {
    width: 50%;
    height: 100%;
} */

.heading h1 {
    margin-top: 50px;
    font-size: 40px;
    /* Corrected the font-size */
}

.info-paragraph {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.info-paragraph p {
    font-size: 21px;
    margin-right: 20px;
    /* Added some more space between text and image */
    max-width: 50%;
    /* Ensures the paragraph doesn't take more than half the container */
}

.info-paragraph img {
    border-radius: 5px;
    width: 400px;
    /* Reduced the image width to allow more space for text */
    height: 200px;
    /* Maintains the aspect ratio of the image */
}

.team-info {
    margin-top: 100px;
}

.team-info h1{
    text-align: center;
    margin-bottom: 40px;
}

.team-info h1 span{
    color: #FF4C4C;
}

.team-member {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    transform: translateY(100px);
}

/* .team-member img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
} */

.member-info {
    max-width: 100%;
    margin-left: 20px;
}

.member-info h2{
    color: #FF4C4C;
}
 
.member-info h2 span{
    color: #021526;
}
.member-info p{
    color: #021526;
}

/* .member-left img {
    order: 1;
}

.member-right img {
    order: 2;
    margin-left: 20px;
} */

.team-info h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.team-info p {
    font-size: 18px;
}

.active .team-member {
    opacity: 1;
    transform: translateY(0);
}

/* @media (max-width: 768px) {
    .team-member {
        flex-direction: column;
        text-align: center;
    }

    .member-info {
        margin-left: 0;
        margin-top: 20px;
        max-width: 100%;
    }

    .member-right img,
    .member-left img {
        order: 0;
        margin-left: 0;
        margin-top: 20px;
    }
} */